@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'phoenix-inter';
  src:
    url('../Assets/Font/inter.woff2') format('woff2 supports variations'),
    url('../Assets/Font/inter.woff2') format('woff2-variations');

  font-style: normal;
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
