.phoenix-header {
  padding: 26px 0px;
  background: #fff;

  .container {
    padding: 0 16px;
  }

  @media (min-width: 1200px) {
    padding: 18px 0px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 120px;

      @media (min-width: 1200px) {
        width: 145px;
      }
    }

    button {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}
